* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
    color: #f57118;
    border: none;
  }
  
  
  link{
    color: rgb(97, 218, 42); /*cor dos links */
   cursor: pointer;
  }
  
  body{
    padding-top: 5vh;
   background-color: white;
  
  }
  
  .container {
    padding: 1.5%;
  }
  
  #main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 247, 248);
    border-radius: 10px;
    padding: 5%;
  }
  
  #main-container h1{
    display: flex;
    text-align: center;
    margin-top: 25px ;
    margin-bottom: 25px;
    font-size: 1.6 rem; /*adaptada ao elemento root*/
  }
  
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  input[type="submit"]{
    background-color: rgb(126, 214, 43);
    color: rgb(248, 247, 248);
    border-style: solid;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }